/*NORMALIZE///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html {line-height: 1.15;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
main {display: block;}
h1 {font-size: 2em;margin: 0.67em 0;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
pre {font-family: monospace, monospace;font-size: 1em;}
a {background-color: transparent;}
abbr[title] {border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}
b,strong {font-weight: bolder;}
code,kbd,samp {font-family: monospace, monospace;font-size: 1em;}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {border-style: none;}
button,input,optgroup,select,textarea {font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0;}
button,input {overflow: visible;}
button,select {text-transform: none;}
/*button,[type="button"],[type="reset"],[type="submit"] {-webkit-appearance: button;}*/
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"],[type="radio"] {box-sizing: border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {height: auto;}
/*[type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}*/
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}
/*NORMALIZE///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@font-face {font-family: "silverFuturaN";   src: url(/font/silverFuturaN.woff2);   font-display: block;}
@font-face {font-family: "silverFuturaM";   src: url(/font/silverFuturaM.woff2);   font-display: block;}
@font-face {font-family: "silverFuturaBXI"; src: url(/font/silverFuturaBXI.woff2); font-display: block;}

:root {
  --PrimaryColor: #D7D7D7;
  --SecondaryColor: #181818;
  scroll-behavior: smooth;
}
html {
  background-color: var(--SecondaryColor);
}
body {
  background-color: var(--SecondaryColor);
  background-blend-mode: lighten;
  background: url(/bg.webp), linear-gradient(315deg, rgba(20,18,18,1) 84%, rgba(48,48,48,1) 100%);
  line-height: 0;
  margin-block-start: 0;margin-block-end: 0;
  margin: 0;
  padding: 0;
  height: fit-content;
  min-height: 100vh;
  overflow-x: hidden;
}
p {
  color: var(--PrimaryColor);
  font-family: "silverFuturaN";
  margin-block-end: 0;
  margin-block-start: 0;
  user-select: none;
  pointer-events: none;
  text-shadow: 0 0 0.15vw var(--PrimaryColor);
  filter: blur(0.3px);
}
.about-container{
  width: 28vw;
  padding: 2vw 0vw 2vw 4vw;
}
.about-text{
  /*font-size: 1.5vw;*/
  font-size: 2vw;
  line-height: 2.3vw;
  font-family: "silverFuturaM";
  pointer-events: all;
}
.about-text-query{
  filter: blur(0vw) opacity(1);
  transition: all 0.5s;
  height: 4vw;
  cursor: pointer;
}

.software-icon-1,.software-icon-2{
  padding: 0 1vw 0 0;
  height: 2.5vw;
  object-fit: cover;
  position: relative;
  left: 4vw;
  top:1vw;
  filter: blur(0.5px);
}

.desc {
  z-index: 6;
  background: rgba(255,255,255,0.05);
  position: relative;
  display:grid;
  padding: 0vw 4vw 0vw 4vw;
  margin: 1vw 0 0 0;
  backdrop-filter: blur(0.1vw);
  box-shadow: 0 0 0.4vw #282828;
  align-items: end;
  gap: 0;
  grid-template-rows: 6vw;
  grid-template-columns: 24vw 44vw 24vw;
}
.desc-text {
  display: grid;
  padding: 0.8vw 0 1vw 4vw;
  text-align: left;
  align-self: start;
  text-shadow: 0 0 0.15vw var(--PrimaryColor);
  font-size: 1.2vw;
  line-height: 1.56vw;
}
.desc-text-b{
  font-family: "silverFuturaBXI";
  position: relative;
  transition: left 0.3s cubic-bezier(0.38,-0.34,0.49,1.20),filter 0.3s cubic-bezier(0.22,0.37,0.48,0.92);
  left: 0;
  filter: blur(0.3vw);
}
.desc-text-b-gone{
  left: 26vw;
}
p.title-text {
  display: grid;
  font-family: "silverFuturaBXI";
  font-size: 2.2vw;
  text-shadow: 0 0 0.15vw var(--PrimaryColor);
  text-align: start;
  letter-spacing: 0.98vw;
  transition: 3s letter-spacing ease-out;
  line-height: 2.2vw;
  pointer-events:all;
}
p.title-text:hover{
  letter-spacing: 1.08vw;
}

.title-text {
  padding: 0 4vw 0.6vw 0;
}
.icon {
  display: grid;
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  border-radius: 1.2vw;
}
.icon-blur {
  z-index: -1;
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  position: absolute;
  border-radius: 1.2vw;
  filter: blur(0.1vw);
}

.Buttons {
  display: grid;
  gap:4vw;
  grid-template-rows: 4vw;
  grid-template-columns: repeat(5,4vw);
  z-index: 1;
  align-items: center;
  width: 4vw;
  padding: 0 0 1vw 0vw;
}
.Button1,.Button2,.Button3,.Button4,.Button5,.Button6 {
  display: grid;
  filter: grayscale(100%);
  transition: filter 0.3s, padding 0.3s;
}
.ButtonInac {
  user-select: none;
  pointer-events: none;
  filter: grayscale(0%);
  padding: 0 0 1vw 0;
}
.Button1:hover,.Button2:hover,.Button3:hover,.Button4:hover,.Button5:hover,.Button6:hover,
.Button1:focus,.Button2:focus,.Button3:focus,.Button4:focus,.Button5:focus,.Button6:focus,
.Button1:active,.Button2:active,.Button3:active,.Button4:active,.Button5:active,.Button6:active {
  filter: grayscale(50%);
  padding: 0 0 1vw 0;
}
.ButtonInac:hover {
  filter: grayscale(0%);
}
a {
  text-decoration: none;
  margin-block-start: 0;
  margin-block-end: 0;
}
.reel {
  z-index: 6;
  display:grid;
  margin: 0 4vw;
  gap: 2vw 4vw;
  grid-template-columns: repeat(3, 28vw);
  padding: 0 0 2vw 0;
  position: relative;
  right:0vw;
  filter: blur(0);
  transition: right 0.3s cubic-bezier(0.38,-0.34,0.49,1.20), filter 0.3s cubic-bezier(0.22,0.37,0.48,0.92); /*for motion blur*/
}
.non-reel{
  position: relative;
  display: flex;
  right:0vw;
  height: 50vh;
  filter: blur(0);
  transition: right 0.3s cubic-bezier(0.38,-0.34,0.49,1.20), filter 0.3s cubic-bezier(0.22,0.37,0.48,0.92);
}
.reel-moving-away{
  right:100vw;
  filter: blur(0.9vw);
}
.reel-moving-in{
  right: -100vw;
  filter: blur(0.9vw);
}
.icon:hover .reel{
  gap: 2vw 8vw;
}
.reel-content {
  position: relative;
  display: grid;
  justify-content: center;
  height: 28vw;
  transition: left 0.4s cubic-bezier(0.51,-0.35,0.19,1.13), transform 0.2s linear, filter 0.5s cubic-bezier(0.22,0.37,0.48,0.92);
  left: 0;
  transform: none;
  filter: none;
}
.reel-img,.reel-vid {
  z-index: 1;
  display: grid;
  width: 28vw;
  height: 28vw;
  border-radius: 1.4vw;
  object-fit: cover;
  transition: all 0.25s;
  filter: contrast(98%);
  justify-self: center;
  cursor: pointer;
}
.reel-title-limiter {
  pointer-events: none;
  user-select: none;
  display: grid;
  position: relative;
  bottom: 28vw;
  height: 28vw;
  width: 29vw;
  border-radius: 1.4vw;
  overflow: hidden;
  align-items: end;
}
.reel-title {
  z-index: 1;
  width: 29vw;
  height: 2vw;
  position: relative;
  bottom: -2vw;
  background: rgba(0,0,0,0.85);
  box-shadow: 0 0 0.15vw 0.1vw rgba(0,0,0,0.85);
  text-shadow: 0 0 0.15vw var(--PrimaryColor);
  font-family: "silverFuturaN";
  text-align: center;
  font-size: 1.2vw;
  letter-spacing: 0.4vw;
  line-height: 2.1vw;
  opacity:0;
  overflow-inline: hidden;
  transition: opacity 0.25s, bottom 0.25s;
}
.reel-img:hover,.reel-vid:hover {
  width: 29vw;
  filter: contrast(100%);
}
.reel-content:hover .reel-title {
  opacity:100%;
  bottom: 0vw;
}
.reel-blur {
  z-index: 0;
  display: grid;
  object-fit: cover;
  position: relative;
  bottom:56vw;
  left: 0.5vw;
  width: 28vw;
  height: 28vw;
  border-radius: 1.4vw;
  filter: blur(0.3vw);
  transition: all 0.25s;
}
.reel-content:hover .reel-blur {
  width:29vw;
  left: 0vw;
  filter: blur(0vw);
}
.viewerDivParent{
  z-index: 10;
  position: fixed;
  top:0;
  width: 100vw;
  height: 100vh;
  left: 100vw;
  transition: left 0.3s cubic-bezier(0.38,-0.34,0.49,1.20);
}
.viewerDivParentVisible{
  left: 0;
  cursor: pointer;
}
.viewerDiv{
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(0.9vw);
  box-shadow: 0 0 1.2vw #282828;
  position: fixed;
  top: 2vw;
  height: 92vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1vh 90vh 1vh;
  grid-template-columns: 1fr auto 1fr;
  gap: 0 1vh;
  justify-items: center;
  align-items: center;
}
.viewer{
  max-height: 90vh;
  max-width: 90vw;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  grid-area: 2/2/2/2;
  filter: blur(0.9vw);
  transition: filter 0.5s cubic-bezier(0.22,0.37,0.48,0.92); /*for motion blur*/
  box-shadow: 0 0 0.5vw #282828;
  border-radius: 0.2vw;
}
.viewertext{
  position: fixed;
  writing-mode: vertical-rl;
  justify-self:start;
  align-self: start;
  font-family: "silverFuturaM";
  color: #121212;
  text-shadow: 0 0 0.15vw #121212;
  font-size: 2.2vw;
  grid-area: 2/3/2/3;
  max-height: 90vh;
  line-height: 1.2vw;
}
a:link,a:visited,::selection {
  color: var(--PrimaryColor);
}
.arrowcontain {
  width:0;
  height: 0;
}
.arrow {
  position:relative;
  width:2vw;
  transform:rotate(180deg);
  bottom:1.1vw;
  z-index: 7;
  transition: all 0.3s cubic-bezier(0.38,-0.34,0.49,1.27);
  filter: blur(0.5px);
}
.arrowpos1 {left: 29vw;}
.arrowpos2 {left: 37vw;}
.arrowpos3 {left: 45vw;}
.arrowpos4 {left: 53vw;}
.arrowpos5 {left: 61vw;}
.arrowpos6 {left: 69vw;}

.tap-to-view{
  pointer-events: none;
  user-select: none;
  display: grid;
  grid-template-columns: 1vw 14vw 1vw;
  grid-template-rows: 2vw;
  padding: 0 42vw;
  font-size: 1.2vw;
  text-shadow: 0 0 0.1vw var(--PrimaryColor);
  text-align: center;
  line-height: 2.2vw;
  letter-spacing: 0.4vw;
}
.tap-to-view p{padding:0 0 0 0.4vw}

.tap-to-view-arrow{
  pointer-events: none;
  display: grid;
  width: 1vw;
  align-self: center;
  padding: 0.2vw 0 0 0;
  filter: blur(0.3px);
}
.tap-to-view-arrow-2{ /*for index.html ie about/intro page*/
  transform: rotate(180deg);
}
.TopButtonArrow {
  display: grid;
  width: 1vw;
  transform: rotate(180deg);
  align-self: center;
  justify-self: center;
  filter: blur(0.3px);
}
.TopButton {
  position: fixed;
  top: 80vh;
  left: -2.1vw;
  display: grid;
  padding: 0vw 1vw 2vw 1vw;
  grid-template-columns: 1vw;
  grid-template-rows: 1vw 4vw;
  gap:1vw;
  font-size: 1.2vw;
  justify-items: center;
  transition: 0.3s cubic-bezier(0.38,-0.34,0.49,1.5);
}
.TopButtonActive {
  left:0vw;
}
.TopButtonText {
  display: grid;
  width: 2vw;
  writing-mode: vertical-rl;
  font-family: "silverFuturaN";
  text-decoration: none;
  color: var(--PrimaryColor);
  font-size: 1.2vw;
  text-shadow: 0 0 0.1vw var(--PrimaryColor);
  letter-spacing: 0.4vw;
  line-height: 2.2vw;
  transform: rotate(180deg);
  align-self: center;
  justify-self: center;
  filter: blur(0.3px)
}
.buttonDiv {
  display: grid;
  padding: 0 4vw;
  grid-template-columns: 8vw 12vw 8vw;
  align-items: center;
  gap: 2vw;
}
button, input {
  border-radius: 1.4vw;
  border-width: 0;
  font-family: "silverFuturaN";
  display:grid;
}
.loadingDiv {
  display: grid;
  background: var(--SecondaryColor);
  grid-template-columns: 33.3vw 33.4vw 33.3vw;
  grid-template-rows:    33.3vh 33.4vh 33.3vh;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  transition: bottom 0.3s cubic-bezier(0.38,-0.34,0.49,1.27), filter 0.3s cubic-bezier(0.22,0.37,0.48,0.92); /*for motion blur*/
  align-items: center;
  justify-items: center;
  bottom: 0;
  filter: blur(0);
}
.loadingDivGone {
  bottom: 100vh;
}
.loadingDivCenter {
  display: grid;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  width:20vw;
}
.loadingMessage1 {
  bottom: 13vw;
  position: relative;
  font-size: 2vw;
}
.spinreel {
  animation: rotate 1.9s linear infinite ;
  width: 12vw;
  display: grid;
  justify-self: center;
}
@keyframes rotate {
  0%  {transform: rotate(0);}
  100%{transform: rotate(360deg);}
}
.loadingMessage2 {
  width: 4vw;
  position:relative;
  font-size: 2vw;
  top:1.4vw;
}
.loadingBarBG{
  display: grid;
  position: relative;
  background-color: #282828;
  width: 33.4vw;
  height: 0.1vw;
  top: 2.1vw;
}
.loadingBar{
  display: grid;
  position: relative;
  background-color: var(--PrimaryColor);
  width: 0;
  height: 0.1vw;
  top:2.01vw;
  box-shadow: 0 0 0.15vw var(--PrimaryColor);
  justify-self: left;
  transition: width 0.1s linear;
}
.typingIframe{
  position: relative;
  left: 2vw;
  border-radius: 1.4vw;
  border: none;
  justify-self: center;
  display: grid;
  width: 96vw;
  box-shadow: 0 0 0.4vw #D7D7D7;
}
.typeForm{
  padding: 2vw 0 18vw 0;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2vw;
  grid-template-rows: 4vw 4vw;
  position: relative;
  left: 0.3vw;
}
.typeInput{
  display: grid;
  width: 26vw;
  padding-left: 2vw;
  height: 4vw;
  font-size: 2vw;
  position: relative;
  top:0.1vw;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 0.4vw #D7D7D7;
}
.typeButton{
  width: 12vw;
  height: 4vw;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  align-self: end;
  border-bottom: 5px solid #888888;
  background-image: url("/dither.webp");
  background-blend-mode: hard-light;
  user-select: none;
  filter: blur(0.3px);
  color:#181818;
  /*line-height is 1.15*/
}
textarea:focus, input:focus{
  outline: none;
}
.typeButton:active{
  height: 3.8vw;
  background-color: #AAAAAA;
  font-size: 1.95vw;
  color:#161616;
  border-bottom: 1px solid #333333;
  /*line-height: 2;*/
  /*transform: skew(-45 deg, 20 deg);*/
}
.typeCounter{
  position: relative;
  bottom:23vw;
  left:48.5vw;
}
.inkrDesc{
  position: relative;
  line-height: normal;
  width: 22vw;
  bottom: 28vw;
  left: 76vw; 
}
.introicon{
  position: relative;
  height: 3vw;
  object-fit: cover;
  filter: blur(0.3px);
}
.tooltipIcon{
  width: 1.5vw;
  position: relative;
  bottom: 0.5vw;
}
.tooltipBox{
  pointer-events: none;
  display:grid;
  border: 1vw #D7D7D7;
  position: absolute;
  background-color: rgba(68,68,68,1);
  padding: 0.4vw 0.2vw 0.3vw 0.2vw;
  border-radius: 0.2vw;
  left:0px;
  bottom:0px;
  opacity: 0;
  transition: opacity 0.2s;
  height: 2vw;

}
.tooltipText{
  line-height: 1vw;
}
.country-div{
  display: grid;
 justify-content: center;
}
.country-icon{
  position: relative;
  left: 20vw;
  width: 8vw;
  object-fit: cover;
  transform: rotate(2deg);
  pointer-events: none;
}
.grain{
  pointer-events: none;
  overflow: hidden;
  top:  0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  object-fit: cover;
  mix-blend-mode: overlay;
  opacity: 0.1;
  background-image: url(/grain-filter.webp);
  background-repeat: repeat;
  animation: grain 0.166s step-end infinite;
}
/*
@keyframes grain {
   0%{transform: rotate(0deg)}
  25%{transform: rotate(90deg)}
  50%{transform: rotate(180deg)}
  75%{transform: rotate(270deg)}
}
*/
@keyframes grain{
  0%{transform: scale(1,1)}
  25%{transform: scale(-1,1)}
  50%{transform: scale(-1,-1)}
  75%{transform: scale(1,-1)}
}

.mouse-glow{
  pointer-events: none;
  position:fixed;
  width: 15px;
  height: 15px;
  left:0px;
  top:0px;
  box-shadow: 10000px 0 20px #D7D7D7;
  border-radius: 2vw;
  background-color: #D7D7D7;
  opacity:0;
}
.leet-div{
  position: absolute;
  top:3vw;
  right:4vw;
  max-width: 19vw;
}
.leet-stats{
  filter: blur(2vw) opacity(0);
  font-size: 1.4vw;
  line-height: 1.4vw;
  transition: all 0.5s;
}
.leet-stats-shown{
  filter: blur(0) opacity(1);
}
a .leet-stats{
  pointer-events: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar:horizontal,
::-webkit-scrollbar:vertical{
  width: 8px !important;
  height: 8px !important;
  background-color: rgb(18, 18, 18) !important;
}
::-webkit-scrollbar-corner {
  background-color: rgb(222, 222, 222) !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(222, 222, 222) !important;
  box-shadow: rgb(18, 18, 18) 0px 0px 0px inset !important;
  border-radius: 2px !important;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: rgb(18, 18, 18) !important;
  border-image: initial !important;
}
::-webkit-scrollbar-track-piece {
  background-color: rgb(18, 18, 18) !important;
  box-shadow: rgb(18, 18, 18) 0px 0px 0px inset !important;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: rgb(18, 18, 18) !important;
  border-image: initial !important;
  border-radius: 0px !important;
}
.parallax-div{
  width: 36vw;
  padding-top: 1vw;
}
.parallax-layer-1,.parallax-layer-2,.parallax-layer-3,.parallax-layer-4,.parallax-layer-5{
  position: absolute;
  width: 36vw;
  height: 36vw;
  object-fit: cover;
  transform: translate(0,0);
  transition: transform 0.25s cubic-bezier(0.19,0.69,0.57,0.87);
  pointer-events: none;
}
.parallax-layer-5{filter: blur(0.5px);}
.parallax-layer-4{filter: blur(0.4px);}
.parallax-layer-3{filter: blur(0.3px);}
.parallax-layer-2{filter: blur(0.2px);}
.parallax-layer-1{filter: blur(0.1px);}


@media (orientation:portrait){
  .mouse-glow{display: none;}
  .body{width: 100vw;height: fit-content;}
  .about-text{font-size: 4vw;line-height: 4vw;}
  .software-icon-1,.software-icon-2{height: 6vw;}
  .tap-to-view{font-size:3vw;grid-template-columns:6vw 24vw 6vw;grid-template-rows:3vw;line-height:5vw;padding-bottom:2vw;padding-left: 48.5vw;gap:1vw}
  .tap-to-view p{padding:0 0 0 0vw;}
  .tap-to-view-arrow{width: 3vw;position: relative;top:0.8vw}
  .introicon{height: 8vw;}
  .country-icon{width: 18vw;left: 60vw;}
  .TopButton{padding: 0vw 1vw 2vw 2vw;left: -4vw;}
  .TopButtonText{font-size: 3vw;}
  .TopButtonArrow{width: 2.8vw;position: relative;bottom:3vw;right:0.3vw;}
  .TopButtonActive{left: 0vw;}
  .desc{height: 18vw;grid-template-rows: 18vw;grid-template-columns: 24vw 44vw 44vw;}
  p.title-text{font-size: 4.5vw;line-height: 6vw;align-items: end;letter-spacing: 0.1vw;}
  p.title-text:hover{letter-spacing: 0.1vw;}
  .desc-text{font-size: 2vw;position:relative;right: 35vw;line-height: 2vw;}
  .desc-text-b{left: 22vw;bottom:4vw;}
  .Buttons{grid-template-columns: repeat(5,9vw);grid-template-rows:12vw}
  .icon{width: 12vw;height:12vw;}
  .icon-blur{width: 12vw;height: 12vw;filter: blur(0.3vw);}
  .ButtonInac{padding: 0 0 4vw 0;}
  .Button1:hover,.Button2:hover,.Button3:hover,.Button4:hover,.Button5:hover,.Button6:hover,
  .Button1:focus,.Button2:focus,.Button3:focus,.Button4:focus,.Button5:focus,.Button6:focus,
  .Button1:active,.Button2:active,.Button3:active,.Button4:active,.Button5:active,.Button6:active{
    padding: 0 0 4vw 0;}
  .arrow{width: 6vw;bottom: 2vw;}
  .arrowpos1{left: 31vw;}
  .arrowpos2{left: 44vw;}
  .arrowpos3{left: 57vw;}
  .arrowpos4{left: 70vw;}
  .arrowpos5{left: 83vw;}
  .loadingDiv{letter-spacing: 0.1vw;font-size: 1.4vw;}
  .spinreel{width: 28vw;}
  .loadingMessage1{bottom:-5vw;font-size: 3vw;}
  .loadingBarBG{top:7vw;height: 0.3vw;}
  .loadingBar{top:6.7vw;height: 0.3vw;}
  .loadingMessage2{top:10vw;font-size: 3vw;}
  .typeForm{padding: 2vw 18vw 2vw 18vw;grid-template-rows: 12vw 12vw;}
  .typeInput{height: 12vw;font-size: 6vw;}
  .typeButton{height: 12vw;font-size: 3.3vw;}
  .typeButton:active{height: 11.8vw;font-size: 3.2vw;border-bottom: 1px solid #333333;}
  .typeCounter{bottom:-1vw;left:44.5vw}
  /*.grain{width: 100vh;height: 100%;}*/
  .viewertext{writing-mode: horizontal-tb;grid-area: 1/2/2/2;justify-self:end;font-size:  5vw;align-self: self-end;line-height: 5.2vw;}
  .viewer{max-height: 83vh;align-self: stretch;}
  .viewerDiv{grid-template-rows: 6vh 90vh 1vh;}
  .leet-div{position: relative;max-width: fit-content;display: flex;left: 40%;top:0vh}
  .leet-stats{font-size: 4vw;line-height: 4vw;}
  .non-reel{display: grid;grid-template-columns: 100vw;}
  .about-container{width: 100vw;}
  .about-text{width: 100vw;font-size:5vw;line-height:5vw;}
  .software-icon-1,.software-icon-2{height: 12vw;}
  .country-icon{width: 24vw;}
  .parallax-div{position: relative;width: 100vw;height: 100vw;}
  .parallax-layer-1,.parallax-layer-2,.parallax-layer-3,.parallax-layer-4,.parallax-layer-5{width: 100vw;height: 100vw;}
  .about-text-query{top:100vw;}

}
