node_modules
bookmarks.js
play.js
debug.js
notes.txt
parallaxWork.ai
parallax.svg

css/bookmarks.css
css/play.css

parametric

bookmarks.html
jsplay.html

font/FuturaBXI.ttf
font/FuturaB.ttf
font/FuturaM.ttf
font/FuturaN.ttf
font/silverFuturaBXI.otf
font/silverFuturaM.otf
font/silverFuturaN.otf

icons/reelWork.ai

typing/Filmotype LaSalle.otf
typing/LaSalle specs.txt
typing/typingProject.ai
