node_modules
flip
parametric

bookmarks.js
play.js
debug.js
typing.js
uglify.js
notes.txt
parallaxWork.ai
parallax.svg
INKRdocumentation.ai

css/bookmarks.css
css/play.css
css/typing.css

bookmarks.html
jsplay.html
TICK.html

font/FuturaBXI.ttf
font/FuturaB.ttf
font/FuturaM.ttf
font/FuturaN.ttf
font/silverFuturaBXI.otf
font/silverFuturaM.otf
font/silverFuturaN.otf
font/helv.woff2
font/helvetica_condensed_bold.ttf
font/DOS.ttf

cartel/poster.jpg
cartel/1.jpg
cartel/2.jpg
cartel/3.jpg
cartel/4.jpg
cartel/5.jpg
cartel/6.jpg
cartel/7.jpg
cartel/8.jpg
cartel/9.jpg
cartel/10.jpg
cartel/11.jpg
cartel/12.jpg
cartel/ladder.jpg
cartel/ladder-blur.webp
cartel/ladder-thumb.webp

icons/reelWork.ai

typing/Filmotype LaSalle.otf
typing/LaSalle specs.txt
typing/typingProject.ai
